* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  font-size: 24px;
  background-color: #1687ca;
  color: white;
}

.header-text {
  font-weight: bold;
}

.card {
  width: 200px;
  height: 250px;
  background-color: #a8d3e9;
}

.card-image {
  width: 200px;
  height: 200px;
}

.name {
  font-size: 16px;
  text-align: center;
  padding: 10px;
  color: black;
  font-weight: bold;
}

.container {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}
